<div class="row mb-4 workout">
  <div class="col-md-5">
    <h2>
        <a href="/workouts/{{id}}">{{title}}</a>
    </h2>
    <p id="workout-title">
      Title:{{title}}
    </p>
  </div>
  <div class="col-md-7">
    <p id="workout-workout">
      Workout: {{workout}}
      <br>
      created_at: {{format_date created_at}}
      <br>
   
    </p>
  </div>
</div>
<div>