<<<<<<< HEAD
<div class="row mb-4 workout">
  <div class="col-md-5">
    <h2>
        <a href="/workouts/{{id}}">{{title}}</a>
=======

<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <a href="/workouts/{{id}}"></a>

>>>>>>> 7a28e790a3969ec265a3af801a76cb7a74b06148
    </h2>
    <p id="workout-title">
      Title:{{title}}
    </p>
  </div>
  <div class="col-md-7">
<<<<<<< HEAD
    <p id="workout-workout">
=======
    <p id="blog">
>>>>>>> 7a28e790a3969ec265a3af801a76cb7a74b06148
      Workout: {{workout}}
      <br>
      created_at: {{created_at}}
      <br>
      user_id: {{user_id}}
    </p>
  </div>
</div>
<<<<<<< HEAD
<div>
=======
<div>
>>>>>>> 7a28e790a3969ec265a3af801a76cb7a74b06148
