<!-- Loop over each object in the projects array -->
{{#each workouts as |workout|}}
  <div class="row mb-4 project">
    <div class="col-md-5">
      <h2>
<<<<<<< HEAD
        <a href="/workouts/{{workout.id}}">{{workout.title}}</a>
=======
        <a href="/workout/{{workout.id}}">{{workout.title}}</a>
>>>>>>> 7a28e790a3969ec265a3af801a76cb7a74b06148

      </h2>
      <p>
        Workout:
        {{workout.workout}}
      </p>
    </div>
    <div class="col-md-7">
      <p>
        {{workout.created_at}}
        {{workout.user_id}}
      </p>
    </div>
  </div>
{{/each}}